:root {
  --global-core-borderRadius-sm-value: 4;
  --global-core-borderRadius-lg-value: 8;
  --global-core-borderRadius-xl-value: 16;
  --global-core-colors-Primary-PrimaryLighter-value: #E5EAF1;
  --global-core-colors-Primary-Primary-value: #22799A;
  --global-core-colors-Primary-PrimaryDarker-value: #044862;
  --global-core-colors-Primary-PrimaryDarker-description: reverted back color;
  --global-core-colors-Secondary-SecondaryLighter-value: #F8DFE2;
  --global-core-colors-Secondary-SecondaryLight-value: #F2938C;
  --global-core-colors-Secondary-Secondary-value: #D83933;
  --global-core-colors-Secondary-SecondaryVivid-value: #E41D3D;
  --global-core-colors-Secondary-SecondaryDark-value: #B50909;
  --global-core-colors-Secondary-SecondaryDarker-value: #8B0A03;
  --global-core-colors-AccentCool-AccentCoolLighter-value: #E1F3F8;
  --global-core-colors-AccentCool-AccentCoolLight-value: #97D4EA;
  --global-core-colors-AccentCool-AccentCool-value: #00BDE3;
  --global-core-colors-AccentCool-AccentCoolDark-value: #28A0CB;
  --global-core-colors-AccentCool-AccentCoolDarker-value: #07648D;
  --global-core-colors-AccentWarn-AccentWarmLighter-value: #F2E4D4;
  --global-core-colors-AccentWarn-AccentWarmLight-value: #FFBC78;
  --global-core-colors-AccentWarn-AccentWarm-value: #FA9441;
  --global-core-colors-AccentWarn-AccentWarmDark-value: #C05600;
  --global-core-colors-AccentWarn-AccentWarmDarker-value: #775540;
  --global-core-colors-Info-InfoLighter-value: #E7F6F8;
  --global-core-colors-Info-InfoLight-value: #99DEEA;
  --global-core-colors-Info-Info-value: #00BDE3;
  --global-core-colors-Info-InfoDark-value: #009EC1;
  --global-core-colors-Info-InfoDarker-value: #2E6276;
  --global-core-colors-Error-ErrorLighter-value: #F4E3DB;
  --global-core-colors-Error-ErrorLight-value: #F39268;
  --global-core-colors-Error-Error-value: #D54309;
  --global-core-colors-Error-ErrorDark-value: #B50909;
  --global-core-colors-Error-ErrorDarker-value: #6F3331;
  --global-core-colors-Warning-WarningLighter-value: #ebf4ff;
  --global-core-colors-Warning-WarningLight-value: #c3dafe;
  --global-core-colors-Warning-Warning-value: #a3bffa;
  --global-core-colors-Warning-WarningDark-value: #7f9cf5;
  --global-core-colors-Warning-WarningDarker-value: #667eea;
  --global-core-colors-Success-SuccessLighter-value: #ECF3EC;
  --global-core-colors-Success-SuccessLight-value: #70E17B;
  --global-core-colors-Success-Success-value: #00A91C;
  --global-core-colors-Success-SuccessDark-value: #4D8055;
  --global-core-colors-Success-SuccessDarker-value: #446443;
  --global-core-colors-Disabled-DisabledLight-value: #E6E6E6;
  --global-core-colors-Disabled-Disabled-value: #C9C9C9;
  --global-core-colors-Disabled-DisabledDark-value: #ADADAD;
  --global-core-colors-Emergency-EmergencyDark-value: #332D29;
  --global-core-colors-Emergency-Emergency-value: #9C3D10;
  --global-core-colors-Grey-Gray1-value: #FCFCFC;
  --global-core-colors-Grey-Grey2-value: #F9F9F9;
  --global-core-colors-Grey-Grey3-value: #F6F6F6;
  --global-core-colors-Grey-Grey4-value: #F3F3F3;
  --global-core-colors-Grey-Grey5-value: #F0F0F0;
  --global-core-colors-Grey-Grey10-value: #E6E6E6;
  --global-core-colors-Grey-Grey20-value: #C9C9C9;
  --global-core-colors-Grey-Grey30-value: #ADADAD;
  --global-core-colors-Grey-Grey40-value: #919191;
  --global-core-colors-Grey-Grey50-value: #757575;
  --global-core-colors-Grey-Grey60-value: #5C5C5C;
  --global-core-colors-Grey-Grey70-value: #454545;
  --global-core-colors-Grey-Grey80-value: #2E2E2E;
  --global-core-colors-Grey-Grey90-value: #1B1B1B;
  --global-core-colors-BlueVivid-BlueVivid5v-value: #E8F5FF;
  --global-core-colors-BlueVivid-BlueVivid10v-value: #CFE8FF;
  --global-core-colors-BlueVivid-BlueVivid20v-value: #A1D3FF;
  --global-core-colors-BlueVivid-BlueVivid30v-value: #58B4FF;
  --global-core-colors-BlueVivid-BlueVivid40v-value: #2491FF;
  --global-core-colors-BlueVivid-BlueVivid50v-value: #0076D6;
  --global-core-colors-BlueVivid-BlueVivid60v-value: #005EA2;
  --global-core-colors-BlueVivid-BlueVivid70v-value: #0B4778;
  --global-core-colors-BlueVivid-BlueVivid80v-value: #112F4E;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid5v-value: #EDF5FF;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid10v-value: #D4E5FF;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid20v-value: #ADCDFF;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid30v-value: #81AEFC;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid40v-value: #5994F6;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid50v-value: #2672DE;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid60v-value: #0050D8;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid70v-value: #1A4480;
  --global-core-colors-BlueWarmVivid-BlueWarmVivid80v-value: #162E51;
  --global-core-colors-White-value: #ffffff;
  --global-core-colors-Black-value: #000000;
  --global-core-opacity-low-value: 10%;
  --global-core-opacity-md-value: 50%;
  --global-core-opacity-high-value: 90%;
  --global-core-lineHeights-heading-value: auto;
  --global-core-lineHeights-body-value: 150%;
  --global-core-letterSpacing-default-value: 0;
  --global-core-letterSpacing-H6-value: 0.5;
  --global-core-paragraphSpacing-default-value: 0;
  --global-core-fontWeights-Regular-value: Regular;
  --global-core-fontWeights-Bold-value: Bold;
  --global-core-fontSizes-h1-value: 40;
  --global-core-fontSizes-h2-value: 32;
  --global-core-fontSizes-h3-value: 22;
  --global-core-fontSizes-h4-value: 16;
  --global-core-fontSizes-h5-value: 15;
  --global-core-fontSizes-h6-value: 13;
  --global-core-fontSizes-body-value: 16;
  --global-core-fontSizes-Intro-value: 13;
  --global-core-FontFamily-value: Source Sans Pro;
  --global-core-Button-lg-value: 60;
  --global-core-Button-Focus-value: 52;
  --global-core-Button-md-value: 44;
  --global-$metadata-tokenSetOrder-0-value: core;
  --global-fontFamilies-inter-value: Inter;
  --global-lineHeights-0-value: AUTO;
  --global-fontWeights-inter-0-value: Bold;
  --global-fontSize-0-value: 32;
  --global-letterSpacing-0-value: 0%;
  --global-paragraphSpacing-0-value: 0;
  --global-H1-value-fontFamily: {fontFamilies.inter};
  --global-H1-value-fontWeight: {fontWeights.inter-0};
  --global-H1-value-lineHeight: {lineHeights.0};
  --global-H1-value-fontSize: {fontSize.0};
  --global-H1-value-letterSpacing: {letterSpacing.0};
  --global-H1-value-paragraphSpacing: {paragraphSpacing.0};
  --global-H1-value-paragraphIndent: {paragraphIndent.0};
  --global-H1-value-textCase: {textCase.none};
  --global-H1-value-textDecoration: {textDecoration.none};
  --global-textCase-none-value: none;
  --global-textDecoration-none-value: none;
  --global-paragraphIndent-0-value: 0px;
  --global-logo-value: https://uirepo.blob.core.windows.net/files/RadiantLogo.png;
  --global-image1-value: https://uirepo.blob.core.windows.net/files/image.png;
  --global-image2-value: https://uirepo.blob.core.windows.net/files/universal-studios-hollywood-1.png;
  --global-tt-value: https://www.shutterstock.com/image-photo/calm-weather-on-sea-ocean-600nw-2212935531.jpg;
  --$metadata-tokenSetOrder-0: global;
}